/*@import url("components/first-example.css");
@import url("components/second-example.css");*/

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.red,
.yellow,
.purple,
.green {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}

.first-example,
.second-example,
.third-example,
.fourth-example,
.fifth-example {
  display: grid;
  height: 100px;
}

.first-example {
  grid-template-columns: 1fr 1fr;
}

.second-example {
  grid-template-columns: 1fr 2fr;
}

.third-example {
  grid-template-columns: 6fr 1fr;
}

.fourth-example {
  grid-template-columns: 100px 300px auto;
}

.fifth-example {
  grid-template-columns: 1fr 1fr 2fr 3fr;
}
